In [72]:

# Dependencies and Setup
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

# File to Load (Remember to Change These)
country_sugar_consumption_file= "Resources/sugar_consumption.csv"
country_healthexpend_file = "Resources/healthexpend.csv"
country_gdp_file= "Resources/gdp.csv"
country_badteeth_file = "Resources/badteeth.csv"

# Read School and Student Data File and store into Pandas DataFrames
country_sugar_consumption_data = pd.read_csv(country_sugar_consumption_file)
country_healthexpend_data = pd.read_csv(country_healthexpend_file)
country_gdp_data = pd.read_csv(country_gdp_file)
country_badteeth_data = pd.read_csv(country_badteeth_file)


#country_sugar_consumption_data.head()

#country_healthexpend_data.head()

#country_gdp_data.head()

#country_badteeth_data.head()
#country_sugar_consumption_data = country_sugar_consumption_data.dropna()
#country_test = country_sugar_consumption_data.sort_values(by=['X2004'])
country_test = country_sugar_consumption_data.sort_values(by='X2004', ascending=False)
country_test[0:20]

,NA.,X1961,X1962,X1963,X1964,X1965,X1966,X1967,X1968,X1969,...,X1996,X1997,X1998,X1999,X2000,X2001,X2002,X2003,X2004,NA..1
240,United States,142.47,142.47,139.73,145.21,145.21,145.21,147.95,150.69,153.43,...,186.30,194.52,194.52,189.04,194.52,194.52,194.52,191.78,191.78,NaN
37,Canada,123.29,128.77,126.03,123.29,126.03,134.25,128.77,128.77,134.25,...,134.25,139.73,142.47,139.73,145.21,153.43,167.12,172.60,172.60,NaN
70,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.41,101.37,98.63,136.99,147.95,150.69,153.43,167.12,167.12,NaN
219,Switzerland,142.47,147.95,120.55,136.99,136.99,136.99,131.51,145.21,139.73,...,150.69,147.95,134.25,136.99,153.43,156.16,161.64,164.38,164.38,NaN
54,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126.03,106.85,101.37,104.11,123.29,153.43,161.64,164.38,164.38,NaN
160,New Zealand,134.25,136.99,134.25,120.55,134.25,136.99,134.25,126.03,134.25,...,139.73,153.43,153.43,158.90,158.90,161.64,161.64,164.38,164.38,NaN
59,Denmark,139.73,145.21,142.47,139.73,145.21,145.21,145.21,142.47,142.47,...,131.51,145.21,136.99,134.25,145.21,142.47,161.64,158.90,158.90,NaN
52,Costa Rica,120.55,120.55,117.81,128.77,123.29,128.77,120.55,131.51,131.51,...,156.16,156.16,156.16,156.16,153.43,150.69,158.90,156.16,156.16,NaN
230,Trinidad and Tobago,101.37,106.85,112.33,104.11,112.33,123.29,120.55,120.55,115.07,...,161.64,172.60,161.64,158.90,172.60,175.34,153.43,156.16,156.16,NaN
189,Saint Kitts and Nevis,104.11,115.07,115.07,120.55,126.03,126.03,126.03,126.03,126.03,...,134.25,134.25,145.21,136.99,145.21,158.90,158.90,156.16,156.16,NaN
19,Barbados,142.47,142.47,145.21,142.47,142.47,145.21,142.47,142.47,136.99,...,156.16,158.90,145.21,147.95,147.95,150.69,156.16,156.16,156.16,NaN
87,Grenada,76.71,93.15,93.15,106.85,109.59,104.11,104.11,106.85,106.85,...,136.99,128.77,123.29,120.55,123.29,123.29,128.77,153.43,153.43,NaN
29,Brazil,112.33,115.07,109.59,104.11,112.33,98.63,101.37,112.33,112.33,...,153.43,156.16,156.16,153.43,153.43,156.16,150.69,153.43,153.43,NaN
100,Iceland,161.64,164.38,169.86,164.38,164.38,183.56,169.86,164.38,156.16,...,158.90,164.38,164.38,156.16,156.16,150.69,153.43,153.43,153.43,NaN
215,Suriname,79.45,82.19,82.19,76.71,84.93,87.67,93.15,84.93,90.41,...,142.47,139.73,145.21,131.51,136.99,136.99,145.21,150.69,150.69,NaN
21,Belgium,73.97,73.97,95.89,87.67,79.45,98.63,101.37,93.15,101.37,...,131.51,131.51,139.73,139.73,161.64,156.16,147.95,150.69,150.69,NaN
109,Jamaica,106.85,109.59,109.59,115.07,117.81,123.29,128.77,134.25,142.47,...,136.99,128.77,134.25,136.99,158.90,156.16,150.69,147.95,147.95,NaN
157,Netherlands,126.03,131.51,134.25,128.77,136.99,136.99,131.51,131.51,131.51,...,126.03,126.03,126.03,123.29,123.29,126.03,134.25,142.47,142.47,NaN
57,Czech Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139.73,128.77,126.03,126.03,123.29,115.07,136.99,142.47,142.47,NaN
22,Belize,71.23,71.23,76.71,82.19,84.93,87.67,93.15,98.63,104.11,...,161.64,161.64,158.90,156.16,147.95,134.25,134.25,136.99,136.99,NaN

In [60]:
country_SEC_cleaned = country_sugar_consumption_data[(country_sugar_consumption_data['NA.'] == 'United States') | 
                                                     (country_sugar_consumption_data['NA.'] == 'China') |
                                                     (country_sugar_consumption_data['NA.'] == 'Germany') |
                                                     (country_sugar_consumption_data['NA.'] == 'Russia') |
                                                     (country_sugar_consumption_data['NA.'] == 'United Kingdom') |
                                                     (country_sugar_consumption_data['NA.'] == 'Brazil') |
                                                     (country_sugar_consumption_data['NA.'] == 'Ireland') |
                                                     (country_sugar_consumption_data['NA.'] == 'Switzerland') |
                                                     (country_sugar_consumption_data['NA.'] == 'Austria') ]

country_SEC_cleaned.reset_index(drop=True, inplace=True)

country_SEC_cleaned = pd.DataFrame({"Country": country_SEC_cleaned["NA."],
                                    "1996": country_SEC_cleaned["X1996"],
                                    "1997": country_SEC_cleaned["X1997"],
                                    "1998": country_SEC_cleaned["X1998"],
                                    "1999": country_SEC_cleaned["X1999"],
                                    "2000": country_SEC_cleaned["X2000"],
                                    "2001": country_SEC_cleaned["X2001"],
                                    "2002": country_SEC_cleaned["X2002"],
                                    "2003": country_SEC_cleaned["X2003"],
                                    "2004": country_SEC_cleaned["X2004"]})
#country_SEC_cleaned = country_SEC_cleaned.sort_values(by=['2004'])

country_SEC_cleaned

,Country,1996,1997,1998,1999,2000,2001,2002,2003,2004
0,Austria,128.77,126.03,123.29,123.29,126.03,123.29,120.55,123.29,123.29
1,Brazil,153.43,156.16,156.16,153.43,153.43,156.16,150.69,153.43,153.43
2,China,21.92,24.66,21.92,19.18,16.44,16.44,19.18,21.92,21.92
3,Germany,109.59,115.07,112.33,112.33,115.07,126.03,126.03,123.29,123.29
4,Ireland,109.59,109.59,104.11,109.59,115.07,115.07,115.07,115.07,115.07
5,Russia,101.37,101.37,106.85,109.59,112.33,117.81,120.55,120.55,120.55
6,Switzerland,150.69,147.95,134.25,136.99,153.43,156.16,161.64,164.38,164.38
7,United Kingdom,106.85,106.85,101.37,109.59,101.37,112.33,112.33,112.33,112.33
8,United States,186.30,194.52,194.52,189.04,194.52,194.52,194.52,191.78,191.78

In [49]:
country_HE_cleaned = country_healthexpend_data[(country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'United States') | 
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'China') |
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'Germany') |
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'Russia') |
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'United Kingdom') |
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'Brazil') |
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'Ireland') |
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'Switzerland') |
                                               (country_healthexpend_data['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'] == 'Austria') ]

country_HE_cleaned.reset_index(drop=True, inplace=True)

country_HE_cleaned = pd.DataFrame({"Country": country_HE_cleaned['Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..'],
                                    "1996": country_HE_cleaned["X1996"],
                                    "1997": country_HE_cleaned["X1997"],
                                    "1998": country_HE_cleaned["X1998"],
                                    "1999": country_HE_cleaned["X1999"],
                                    "2000": country_HE_cleaned["X2000"],
                                    "2001": country_HE_cleaned["X2001"],
                                    "2002": country_HE_cleaned["X2002"],
                                    "2003": country_HE_cleaned["X2003"],
                                    "2004": country_HE_cleaned["X2004"],
                                    "2005": country_HE_cleaned["X2005"],
                                    "2006": country_HE_cleaned["X2006"],
                                    "2007": country_HE_cleaned["X2007"],
                                    "2008": country_HE_cleaned["X2008"],
                                    "2009": country_HE_cleaned["X2009"],
                                    "2010": country_HE_cleaned["X2010"]})

country_HE_cleaned["1996"] = country_HE_cleaned["1996"].map("{:,.2f}".format)
country_HE_cleaned["1997"] = country_HE_cleaned["1997"].map("{:,.2f}".format)
country_HE_cleaned["1998"] = country_HE_cleaned["1998"].map("{:,.2f}".format)
country_HE_cleaned["1999"] = country_HE_cleaned["1999"].map("{:,.2f}".format)
country_HE_cleaned["2000"] = country_HE_cleaned["2000"].map("{:,.2f}".format)
country_HE_cleaned["2001"] = country_HE_cleaned["2001"].map("{:,.2f}".format)
country_HE_cleaned["2002"] = country_HE_cleaned["2002"].map("{:,.2f}".format)
country_HE_cleaned["2003"] = country_HE_cleaned["2003"].map("{:,.2f}".format)
country_HE_cleaned["2004"] = country_HE_cleaned["2004"].map("{:,.2f}".format)
country_HE_cleaned["2005"] = country_HE_cleaned["2005"].map("{:,.2f}".format)
country_HE_cleaned["2006"] = country_HE_cleaned["2006"].map("{:,.2f}".format)
country_HE_cleaned["2007"] = country_HE_cleaned["2007"].map("{:,.2f}".format)
country_HE_cleaned["2008"] = country_HE_cleaned["2008"].map("{:,.2f}".format)
country_HE_cleaned["2009"] = country_HE_cleaned["2009"].map("{:,.2f}".format)
country_HE_cleaned["2010"] = country_HE_cleaned["2010"].map("{:,.2f}".format)

country_HE_cleaned

,Country,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Austria,"2,051.07","1,929.51","2,018.32","2,049.54","1,823.84","1,815.10","1,953.66","2,412.85","2,787.68","2,917.16","3,040.37","3,517.03","3,976.36","3,909.67","3,843.42"
1,Brazil,141.87,152.68,143.06,103.40,106.75,96.30,90.66,94.77,121.04,155.55,204.99,255.09,305.74,319.84,465.67
2,China,12.32,13.71,14.79,15.78,16.62,16.81,19.38,22.15,26.63,31.16,37.97,53.73,78.22,100.43,118.39
3,Germany,"2,541.82","2,176.84","2,183.93","2,147.27","1,897.75","1,903.20","2,062.44","2,516.99","2,706.50","2,778.18","2,864.48","3,233.32","3,611.94","3,630.05","3,598.30"
4,Ireland,950.18,"1,050.73","1,089.94","1,172.68","1,172.12","1,386.67","1,682.73","2,224.01","2,668.26","2,842.40","3,014.48","3,500.00","4,019.97","3,530.81","2,933.40"
5,Russia,104.73,137.40,79.02,47.69,57.46,69.83,83.74,97.98,126.57,171.59,231.38,313.18,360.58,301.58,326.09
6,Switzerland,"2,324.08","2,033.81","2,104.56","2,105.32","1,950.62","2,110.10","2,390.60","2,882.59","3,213.20","3,313.13","3,292.76","3,586.19","4,164.22","4,290.43","4,610.77"
7,United Kingdom,"1,190.35","1,236.95","1,331.43","1,422.59","1,392.94","1,438.30","1,639.44","1,941.46","2,392.05","2,554.01","2,778.88","3,156.50","3,130.59","2,894.53","2,938.42"
8,United States,"1,753.84","1,811.23","1,843.06","1,916.39","2,031.77","2,231.18","2,404.82","2,608.07","2,785.60","2,953.58","3,174.43","3,356.07","3,554.24","3,794.85","4,436.61"

In [56]:
country_gdp_cleaned = country_gdp_data[(country_gdp_data['Income.per.person..fixed.2000.US..'] == 'United States') | 
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'China') |
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'Germany') |
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'Russia') |
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'United Kingdom') |
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'Brazil') |
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'Ireland') |
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'Switzerland') |
                                       (country_gdp_data['Income.per.person..fixed.2000.US..'] == 'Austria') ]

country_gdp_cleaned.reset_index(drop=True, inplace=True)

country_gdp_cleaned = pd.DataFrame({"Country": country_gdp_cleaned['Income.per.person..fixed.2000.US..'],
                                    "1996": country_gdp_cleaned["X1996"],
                                    "1997": country_gdp_cleaned["X1997"],
                                    "1998": country_gdp_cleaned["X1998"],
                                    "1999": country_gdp_cleaned["X1999"],
                                    "2000": country_gdp_cleaned["X2000"],
                                    "2001": country_gdp_cleaned["X2001"],
                                    "2002": country_gdp_cleaned["X2002"],
                                    "2003": country_gdp_cleaned["X2003"],
                                    "2004": country_gdp_cleaned["X2004"],
                                    "2005": country_gdp_cleaned["X2005"],
                                    "2006": country_gdp_cleaned["X2006"],
                                    "2007": country_gdp_cleaned["X2007"],
                                    "2008": country_gdp_cleaned["X2008"],
                                    "2009": country_gdp_cleaned["X2009"],
                                    "2010": country_gdp_cleaned["X2010"],
                                    "2011": country_gdp_cleaned["X2011"]})

country_gdp_cleaned["1996"] = country_gdp_cleaned["1996"].map("{:,.2f}".format)
country_gdp_cleaned["1997"] = country_gdp_cleaned["1997"].map("{:,.2f}".format)
country_gdp_cleaned["1998"] = country_gdp_cleaned["1998"].map("{:,.2f}".format)
country_gdp_cleaned["1999"] = country_gdp_cleaned["1999"].map("{:,.2f}".format)
country_gdp_cleaned["2000"] = country_gdp_cleaned["2000"].map("{:,.2f}".format)
country_gdp_cleaned["2001"] = country_gdp_cleaned["2001"].map("{:,.2f}".format)
country_gdp_cleaned["2002"] = country_gdp_cleaned["2002"].map("{:,.2f}".format)
country_gdp_cleaned["2003"] = country_gdp_cleaned["2003"].map("{:,.2f}".format)
country_gdp_cleaned["2004"] = country_gdp_cleaned["2004"].map("{:,.2f}".format)
country_gdp_cleaned["2005"] = country_gdp_cleaned["2005"].map("{:,.2f}".format)
country_gdp_cleaned["2006"] = country_gdp_cleaned["2006"].map("{:,.2f}".format)
country_gdp_cleaned["2007"] = country_gdp_cleaned["2007"].map("{:,.2f}".format)
country_gdp_cleaned["2008"] = country_gdp_cleaned["2008"].map("{:,.2f}".format)
country_gdp_cleaned["2009"] = country_gdp_cleaned["2009"].map("{:,.2f}".format)
country_gdp_cleaned["2010"] = country_gdp_cleaned["2010"].map("{:,.2f}".format)
country_gdp_cleaned["2011"] = country_gdp_cleaned["2011"].map("{:,.2f}".format)

country_gdp_cleaned

,Country,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Austria,"21,174.05","21,638.41","22,432.91","23,181.69","23,974.18","24,087.36","24,375.11","24,466.71","24,945.05","25,370.47","26,171.69","27,036.49","27,305.92","26,184.00","26,642.99","27,266.40"
1,Brazil,"3,627.63","3,693.28","3,639.18","3,594.87","3,696.15","3,692.84","3,739.92","3,733.99","3,899.26","3,976.62","4,090.56","4,297.82","4,478.81","4,424.76","4,716.61","4,803.40"
2,China,716.25,774.88,827.35,882.55,949.18,"1,020.52","1,105.95","1,208.99","1,323.22","1,464.11","1,640.86","1,864.10","2,032.61","2,208.40","2,426.33","2,639.54"
3,Germany,"21,166.48","21,502.72","21,899.75","22,295.10","22,945.71","23,254.04","23,217.33","23,117.36","23,390.86","23,564.39","24,463.85","25,297.39","25,620.08","24,368.20","25,420.28","26,206.55"
4,Ireland,"18,664.81","20,495.91","21,865.42","23,764.16","25,629.65","26,433.75","27,518.57","28,200.08","28,937.33","29,825.53","30,669.37","31,543.60","30,130.64","27,814.12","27,599.30","27,715.53"
5,Russia,"1,564.12","1,590.70","1,510.54","1,613.70","1,775.14","1,870.05","1,967.52","2,121.29","2,285.36","2,442.96","2,654.20","2,888.85","3,043.67","2,806.41","2,928.01","3,054.73"
6,Switzerland,"32,855.31","33,445.62","34,258.14","34,571.15","35,639.48","35,854.93","35,650.69","35,394.63","36,003.23","36,737.41","37,877.18","38,983.88","39,324.73","38,084.24","38,826.84","39,170.41"
7,United Kingdom,"22,061.55","22,732.54","23,463.04","24,125.48","25,057.61","25,686.65","26,214.97","27,105.18","27,752.91","28,354.04","28,913.10","29,771.30","29,287.76","27,933.78","28,244.34","28,272.41"
8,United States,"30,827.99","31,831.46","32,847.35","34,053.36","35,081.92","35,116.22","35,427.91","36,021.31","36,931.39","37,718.01","38,349.40","38,710.89","38,208.76","36,539.23","37,329.62","37,691.03"

In [57]:
country_badteeth_cleaned = country_badteeth_data[(country_badteeth_data['NA.'] == 'United States') | 
                                       (country_badteeth_data['NA.'] == 'China') |
                                       (country_badteeth_data['NA.'] == 'Germany') |
                                       (country_badteeth_data['NA.'] == 'Russia') |
                                       (country_badteeth_data['NA.'] == 'United Kingdom') |
                                       (country_badteeth_data['NA.'] == 'Brazil') |
                                       (country_badteeth_data['NA.'] == 'Ireland') |
                                       (country_badteeth_data['NA.'] == 'Switzerland') |
                                       (country_badteeth_data['NA.'] == 'Austria') ]

country_badteeth_cleaned.reset_index(drop=True, inplace=True)

country_badteeth_cleaned = pd.DataFrame({"Country": country_badteeth_cleaned['NA.'],
                                         "2004": country_badteeth_cleaned["X2004"]})

country_badteeth_cleaned

          Country  2004
0         Austria  1.00
1          Brazil  2.80
2           China  1.03
3         Germany  0.70
4         Ireland  1.10
5          Russia  2.90
6     Switzerland  0.86
7  United Kingdom  0.70
8   United States  1.19

In [ ]:
# different graphs

# Bar graph for sugar consumption


# Generate a bar plot showing the top totals by content

#list(top_totals.columns)
#top_list=top_totals.iloc[0]

#top_frame=top_list.to_frame()
#top_frame=top_list.to_frame()
#top_names=top_frame.index

# #Generate bar chart
SEC_df = pd.DataFrame({'Candy Ingredient Types':top_names, 'Number of Top Candies with Ingredients':top_list})
top_bar = top_df.plot.bar(x='Candy Ingredient Types', y='Number of Top Candies with Ingredients', rot=90, title="Types of Candies in Top Ten", legend=False, color='b')
top_bar.set_ylabel('Number of Top Candies with Ingredients')